
.vs/AlbumToTracks/FileContentIndex/b167af5a-54f5-47f5-95a1-31b81cec19e9.vsidx
.vs/AlbumToTracks/FileContentIndex/read.lock
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/AlbumToTracks/FileContentIndex/8ab20b8d-b915-43dd-b120-2219ba6d0530.vsidx
.vs/AlbumToTracks/FileContentIndex/8aff3b3d-0222-4a9b-94ce-652a9c71e4c5.vsidx
